<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ДДН 23/24</title>
        <script src="../public/scripts/404.js" defer></script>
    </head>
    <body style="margin: 0; background: #000; overflow: hidden">
        <canvas></canvas>
    </body>
</html>
