<%- include('header', { back: true }) -%>
<div class="home-page">
    <img class="logo" src="../public/images/logo.png" alt="Логотип ДДН 23/24" width="250" />
    <div class="party-info">
        Бродников пер. 8,<br />
        м. Полянка,<br />
        20/06/21 в 19:00
    </div>
    <button type="button" class="start-btn">Старт</button>
</div>
<%- include('footer') -%>
