<%- include('header') -%>
<div class="home-page">
    <img class="logo" src="../public/images/logo.png" alt="Логотип ДДН 23/24" width="250" />
    <div class="party-info">
        Бродников пер. 8,<br />
        м. Полянка,<br />
        20/06/21 в 19:00
    </div>
    <a href="/heroes" class="start-btn">Старт</a>
</div>
<%- include('footer') -%>
