<%- include('header') -%>
<div class="info-page">
    <address class="address black-shadow">
        20 июня, 18:00<br />
        Бродников переулок, 8
    </address>
    <img class="map" src="../public/images/minimap.jpg" alt="Карта" width="300" />
    <div class="contacts">
        <a href="https://t.me/yaoleg" class="black-shadow">@yaoleg</a>
        <a href="https://t.me/asiya_omarova" class="black-shadow">@asiya_omarova</a>
    </div>
</div>
<%- include('footer') -%>
