<%- include('header') -%>
<div class="menu">
    <% if (locals.prize) { %>
        <div class="prize-wrapper black-shadow">
            Ура! Ты получаешь <span class="prize"><%= locals.prize %></span>
        </div>
    <% } %>
    
    <% if (locals.showMenu) { %>
        <img class="menu__img" src="../public/images/menu.png" alt="menu" />
    <% } else { %>
        <div id="timer-wrapper" class="timer-wrapper absolute-center"></div>
    <% } %>
</div>
<script src="../public/scripts/menu.js" type="text/javascript"></script>
<%- include('footer') -%>
