.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.party-info {
    color: #fff;
    text-align: center;
    margin: 30px 0;
    line-height: 1.5;
    text-transform: uppercase;
    text-shadow: 2px 1px 2px rgba(255, 0, 255, 0.85), 
				 -2px -2px 2px rgba(0, 0, 255, 0.85),
				 1px -2px 0 rgba(255, 255, 255, 0.8);
}

.start-btn {
    color:  #fff;
    background: var(--color-pink);
    border: 3px solid var(--color-pink);
    border-top-color: var(--color-purple);
    border-left-color: var(--color-purple);
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-family: inherit;
    padding: 10px 40px;
}
.start-btn:active {
    border-color: var(--color-pink);
    border-bottom-color: var(--color-purple);
    border-right-color: var(--color-purple);
}