.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.party-info {
    color: #fff;
    text-align: center;
    margin: 30px 0;
    line-height: 1.5;
    text-transform: uppercase;
    text-shadow: 2px 1px 2px var(--transparent-pink), 
				 -2px -2px 2px var(--transparent-blue),
				 1px -2px 0 var(--transparent-white);
}