@import url('./home.css');
@import url('./menu.css');
@import url('./heroes.css');

@font-face {
    font-family: 'PressStart2P';
    font-display: swap;
    src: url('../fonts/PressStart2P.ttf');
}

:root {
    --color-green: rgb(17, 238, 17);
    --color-pink: rgb(219, 107, 204);
    --color-purple: rgb(138 37 117);
    --animate-duration: 2s;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-size: 16px;
}

body {
    font-family: PressStart2P, 'Courier New', monospace;
    color: var(--color-green);
    display: flex;
}

.header-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 40px 20px;
}
.header {
    display: flex;
    justify-content: space-around;
    max-width: min(90vw, 70vh);
    margin: 0 auto;
}
.header__link {
    color: var(--color-green);
    text-decoration: none;
    text-transform: uppercase;
}

.content {
    padding-top: 96px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.content_back {
    background: center / cover no-repeat url('../images/night.gif');
}

/* общие классы */
.start-btn {
    color:  #fff;
    background: var(--color-pink);
    border: 3px solid var(--color-pink);
    border-top-color: var(--color-purple);
    border-left-color: var(--color-purple);
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-family: inherit;
    padding: 10px 40px;
}
.start-btn:hover, .start-btn:active {
    border-color: var(--color-pink);
    border-bottom-color: var(--color-purple);
    border-right-color: var(--color-purple);
}

.display-none {
    display: none;
}
  